body {
  padding-bottom: 30px;

  @include min-width($bp-small) {
    padding-bottom: 60px;
  }
}

.inner {
  width: 90%;
  margin: 0 auto;

  @include min-width($bp-small) {
    width: 520px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

a:focus,
a:focus img {
  box-shadow: 0 0 0 2px #fff, 0 0 2px 4px rgba($color-primary, 0.7);
  outline: 0;
}
