$post-padding: 65px;

.content {
  font-size: 15px;
  line-height: 1.7em;

  @include min-width($bp-small) {
    font-size: 17px;
  }

  h2 {
    padding: 0 20px;
    margin: 1.5em 0 1em;
    font-size: 26px;
    font-weight: normal;
    line-height: 1.3em;

    @include min-width($bp-small) {
      padding: 0 $post-padding;
    }
  }

  h3 {
    padding: 0 20px;
    margin: 1.5em 0 1em;
    font-size: 20px;
    font-weight: 600;

    @include min-width($bp-small) {
      padding: 0 $post-padding;
    }
  }

  h2, h3, h4, h5, h6 {
    &[id] {
      a {
        margin-left: 0.3em;
        display: none;
        border: 0 !important;

        &:after {
          content: '#';
        }
      }

      &:hover a {
        display: inline;
      }
    }
  }

  a {
    color: $color-primary;
    font-weight: 400;
    transition: color, text-decoration 100ms ease-in-out;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $color-text;
    }
  }

  p {
    margin: 0;
    padding: 0 20px;

    @include min-width($bp-small) {
      padding: 0 $post-padding;
    }

    &:not(:last-child) {
      margin-bottom: 1.8em;
    }
  }

  pre {
    background: $color-dark-blue;
    color: #fff;
    padding: 30px 20px !important;
    overflow: auto;
    font-size: 14px;
    border-radius: 0 !important;
    margin: 0 0 1.8em !important;
    line-height: 1.7em !important;

    @include min-width($bp-small) {
      padding: 30px $post-padding !important;
    }
  }

  p code {
    background: #f7f7f9;
    font-size: 90%;
    font-family: $font-monospace;
    color: #2f6f9f;
    padding: 0.3em;
    border-radius: 2px;
  }

  img:not([class]) {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  ul {
    margin: 0 0 1.8em;
    padding: 0 $post-padding;
    list-style: square;
  }

  li {
    line-height: 1.8em;
  }
}
