$post-padding: 65px;

.content {
  font-size: 15px;
  line-height: 1.7em;

  @include min-width($bp-small) {
    font-size: 17px;
  }

  h2 {
    padding: 0 20px;
    margin: 2em 0 1em;
    font-size: 26px;
    font-weight: normal;
    line-height: 1.3em;

    @include min-width($bp-small) {
      padding: 0 $post-padding;
    }
  }

  h3 {
    padding: 0 20px;
    margin: 2em 0 1em;
    font-size: 20px;
    font-weight: 600;

    @include min-width($bp-small) {
      padding: 0 $post-padding;
    }
  }

  a {
    color: $color-primary;
    font-weight: 600;
    transition: color, border-color 100ms ease-in-out;
    border-bottom: 1px solid transparent;

    &:hover,
    &:focus {
      color: $color-text;
      border-color: currentColor;
    }
  }

  p {
    margin: 0;
    padding: 0 20px;

    @include min-width($bp-small) {
      padding: 0 $post-padding;
    }

    &:not(:last-child) {
      margin-bottom: 1.8em;
    }
  }

  pre {
    background: $color-dark-blue;
    color: #fff;
    padding: 30px 20px !important;
    overflow: auto;
    font-size: 14px;
    border-radius: 0 !important;
    margin: 30px 0 !important;

    @include min-width($bp-small) {
      padding: 40px $post-padding !important;
    }
  }
}
