.footer {
  font-size: 15px;
  margin: 40px 0 30px;

  @include min-width($bp-small) {
    margin: 100px 0 60px;
  }

  .inner {
    border-top: 1px solid #eee;
    padding-top: 40px;
  }

  .copyright {
    color: $color-gray;
    font-weight: 300;
    float: left;
  }
}
