.footer {
  font-size: 15px;
  margin-top: 40px;

  @include min-width($bp-small) {
    margin-top: 60px;
  }

  .inner {
    padding-top: 30px;

    @include min-width($bp-small) {
      padding-top: 40px;
    }
  }
}
