.header {
  padding-top: 80px;
  margin-bottom: 30px;

  @include min-width($bp-small) {
    padding-top: 120px;
    margin-bottom: 40px;
  }

  .inner {
    border-bottom: 1px solid $color-gray-lighter;
    padding-bottom: 30px;

    @include min-width($bp-small) {
      padding-bottom: 40px;
    }
  }

  .portrait {
    display: block;
    margin: 0 auto 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;

    @include min-width($bp-small) {
      width: 80px;
      height: 80px;
    }
  }

  .logo {
    text-align: center;
    font-size: 28px;
    margin: 0 0 10px;
    color: $color-heading;
    font-weight: bold;

    @include min-width($bp-small) {
      font-size: 40px;
    }
  }

  h2 {
    font-size: 16px;
    line-height: 1.7em;
    text-align: center;
    margin: 0;
    font-weight: normal;
    padding: 0 40px;
    color: $color-gray;
    font-weight: 300;

    @include min-width($bp-small) {
      font-size: 18px;
    }
  }
}
