.header-small {
  .logo {
    position: absolute;
    left: 5%;
    top: 20px;

    @include min-width($bp-small) {
      left: 30px;
    }

    a {
      color: $color-heading;
      font-weight: bold;
      font-size: 20px;
      line-height: 1em;
    }
  }
}
