.nav {
  text-align: center;
  box-shadow: $box-shadow;

  a {
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 13px;
    display: block;
  }

  &__item {
    display: inline-block;
    margin: 0 15px;

    @include min-width($bp-small) {
      margin: 0 40px;
    }

    &--current a {
      color: $color-white-dim;
    }
  }
}
