.nav-footer {
  font-size: 15px;
  float: right;

  li {
    display: inline;

    &:not(:first-child) {
      margin-left: 30px;
    }

    a {
      color: $color-gray;
      font-weight: 300;

      &:hover {
        color: $color-text;
      }
    }
  }
}
