.nav-footer {
  font-size: 15px;

  @include min-width($bp-small) {
    float: right;
  }

  li {
    display: inline;

    &:not(:first-child) {
      margin-top: 10px;
      margin-left: 15px;

      @include min-width($bp-small) {
        margin-top: 0;
        margin-left: 30px;
      }
    }

    a {
      color: $color-gray;
      font-weight: 300;

      &:hover {
        color: $color-text;
      }
    }
  }
}
