.nav {
  position: absolute;
  top: 20px;
  right: 30px;
  line-height: 20px;

  li {
    display: inline-block;

    &:not(:first-child) {
      margin-left: 20px;
    }

    a {
      padding: 5px 8px;
      color: $color-primary;
      font-size: 15px;
    }
  }
}
