.post {
  padding: 45px 0;
  box-shadow: $box-shadow;
  background: #fff;

  &__header {
    margin-bottom: 30px;
    text-align: center;
    padding: 0 65px;
  }

  &__date {
    color: $color-gray;
    margin-bottom: 15px;
    font-size: 16px;
    font-style: italic;
  }

  &__footer {
    margin-top: 40px;
  }
}
