.post-list-small {
  ul {
    list-style: disc;
    color: #d4d9dd;
    padding: 0;
  }

  li:not(:last-child) {
    margin-bottom: 15px;
  }

  a {
    color: $color-text;
    font-weight: 600;
    line-height: 1.5em;

    &:hover {
      text-decoration: none;
    }
  }

  .date {
    display: block;
    color: $color-gray;
    font-weight: 300;
    font-size: 14px;
  }

  .title {
    font-size: 16px;

    &:hover {
      text-decoration: underline;
    }
  }
}
