.post {
  padding: 45px 0 0;
  box-shadow: $box-shadow;
  background: #fff;

  &__header {
    margin-bottom: 30px;
    text-align: center;
    padding: 0 5%;

    @include min-width($bp-small) {
      padding: 0 65px;
    }
  }

  &__date {
    margin-bottom: 10px;
    font-size: 16px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.35);
  }

  &__title {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0.5em;
    line-height: 1.15em;
    font-weight: 700;
    color: $color-text;

    @include min-width($bp-small) {
      font-size: 36px;
    }

    a {
      color: currentColor;
    }
  }

  .content {
    margin-bottom: 70px;
  }
}
