.post-preview {
  padding: 45px 65px;
  text-align: center;
  box-shadow: $box-shadow;

  &__date {
    color: $color-gray;
    margin-bottom: 15px;
    font-size: 16px;
    font-style: italic;
  }

  &__title {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 1.15em;
    font-weight: 700;

    a {
      color: $color-text;
    }
  }

  &__summary {
    line-height: 1.7em;
    font-size: 17px;

    p {
      margin: 0;
    }
  }
}
