.taxonomy {
  &__header {
    margin-bottom: 40px;
    text-align: center;
  }

  &__title {
    font-size: 34px;
    font-weight: 700;
    margin: 0 0 5px;
  }

  &__count {
    font-size: 16px;
  }
}
