.author {
  padding: 30px 0;
  background: $color-gradient;
  background: linear-gradient(to right, $color-gradient 0%, $color-primary 100%);

  @include min-width($bp-small) {
    padding: 40px 0;
  }

  &__portrait {
    display: block;
    margin: 0 auto 20px;

    @include min-width($bp-small) {
      float: left;
      margin-right: 20px;
      margin-top: -5px;
      margin-bottom: 0;
    }

    img {
      display: block;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      overflow: hidden;

      @include min-width($bp-small) {
        width: 90px;
        height: 90px;
      }
    }
  }

  p {
    color: #fff;
    font-size: 15px;
    line-height: 1.7em;
    text-align: center;
    margin: 0;

    @include min-width($bp-small) {
      text-align: left;
      font-size: 18px;
    }

    a {
      color: #fff;
      border-bottom: 1px solid currentColor;
    }
  }
}
