.button {
  border: 2px solid $color-green;
  display: inline-block;
  padding: 0 20px;
  line-height: 35px;
  margin-top: 25px;
  color: $color-green;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 13px;
  transition: background, color 150ms ease-in-out;

  &:hover {
    background: $color-green;
    color: #fff;
  }
}
