.categories {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $color-gray;

  a {
    color: $color-primary;

    &:hover {
      text-decoration: underline;
      color: $color-text;
    }
  }
}
