.categories {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 15px;

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: $color-text;
    border-bottom: 1px solid currentColor;
    font-weight: 600;
    position: relative;
    transition: color, border-color 150ms ease-in-out;

    &:before {
      content: '#';
      color: $color-primary;
      position: absolute;
      left: -12px;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
