.notice {
  background: #d9edf7;
  padding: 15px 20px;
  font-size: 95%;
  border-radius: $border-radius;
  color: #31708f;

  @include min-width($bp-small) {
    width: 110%;
    margin-left: -5%;
    padding: 15px 5%;
  }
}
