.pagination {
  font-weight: 600;
  font-size: 14px;
  margin-top: 20px;

  a {
    color: $color-primary;

    &:hover {
      color: $color-text;
    }
  }

  .next {
    float: right;
  }

  .prev {
    float: left;
  }
}
