.pagination {
  text-align: center;
  line-height: 20px;

  .inner {
    background: $color-dark-blue;
    padding: 20px $post-padding;
    box-shadow: $box-shadow;
  }

  &__item {
    color: $color-white-dim;
    margin: 0 5px;
    font-size: 15px;
    display: inline-block;

    &--current {
      border-bottom: 1px solid currentColor;
    }
  }

  &__nav {
    background-repeat: no-repeat;
    background-size: auto 90%;
    background-position: center center;
    display: block;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    opacity: 0.95;

    &--next {
      float: right;
      background-image: image('icons/next.svg');
    }

    &--prev {
      float: left;
      background-image: image('icons/back.svg');
    }
  }
}
