.prevnext {
  border-top: 1px solid #eee;
  display: flex;

  &__link {
    padding: 20px 2em 20px 65px;
    width: 50%;
    text-align: right;
    line-height: 1.3em;
    font-weight: 600;
    background: image('/icons/back.svg') 20px center no-repeat;
    background-size: auto 30px;
    color: $color-primary;
    font-size: 16px;
    display: block;
    border-right: 1px solid #eee;

    &--next {
      padding: 20px 65px 20px 2em;
      float: right;
      border-right: 0;
      text-align: left;
      background-image: image('/icons/next.svg');
      background-position: right 8px center;
    }
  }
}
