.skip-navigation {
  position: absolute;
  top: -30em;
  left: -30px;
  display: inline-block;
  border: 1px solid $color-primary;
  color: $color-primary;
  font-weight: 600;
  padding: 6px;
  font-size: 12px;
  border-radius: $border-radius;

  &:focus {
    top: 17px;
    left: 5%;
    text-decoration: none;

    @include min-width($bp-small) {
      left: 30px;
    }

    .is-post & {
      top: 50px;

      @include min-width($bp-small) {
        top: 17px;
        left: 190px;
      }
    }
  }
}
