.skip-navigation {
  position: absolute;
  top: -30em;
  left: -30px;

  &:focus {
    top: 17px;
    left: 5%;
    text-decoration: none;

    @include min-width($bp-small) {
      left: 30px;
    }

    .is-post & {
      top: 50px;

      @include min-width($bp-small) {
        top: 17px;
        left: 190px;
      }
    }
  }
}
