.breadcrumbs {
  display: none;
  @extend %clearfix;

  .inner {
    padding-left: 40px;
  }

  @include respond-to($bp-medium) {
    position: absolute;
    top: 106px;
    display: block;
    width: 100%;
  }

  &__crumb {
    color: $color-white;
    font-size: 12px;
    line-height: 12px;
    float: left;
    display: block;
    line-height: 14px;

    a {
      color: rgb(153, 153, 153);

      &:hover {
        color: rgb(255, 255, 255);
      }
    }
  }

  &__seperator {
    float: left;
    display: block;
    color: #fff;
    line-height: 14px;
    margin: 0 5px;
  }
}
