.inner {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @include respond-to($bp-small) {
    width: 610px;
  }
}

::-moz-selection {
  background: $color-primary;
  color: $color-white;
}

::selection {
  background: $color-primary;
  color: $color-white;
}
