.content {
  @include font-size(17px);
  margin-top: 20px;

  @include respond-to($bp-small) {
    margin-top: 50px;
  }

  p {
    margin: 1.5em 0;
    line-height: 1.75em;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      font-weight: bold;
    }
  }

  body:not(.search) & p:not(.nodrop):first-child:first-letter {
    float: left;
    padding: 3px 6px 0 0;
    @include font-size(55px);
    font-weight: bold;
    line-height: 1em;
  }

  .emoji {
     height: 1em;
     width: 1em;
     margin: 0 .05em 0 .1em;
     vertical-align: -0.1em;
  }

  ol,
  ul {
    margin: 1.5em 0;
    padding: 0 0 0 25px;
    line-height: 1.75em;
  }

  ul {
    list-style-type: square;
  }

  h2:not([class]),
  h3:not([class]),
  h4:not([class]),
  h5:not([class]) {
    margin: 1.5em 0 0.75em;
    font-weight: normal;
    font-family: $font-secondary;

    @include respond-to($bp-small) {
      margin: 2em 0 1em;
    }
  }

  h2:not([class]) {
    @include font-size(28px);
  }

  h3:not([class]) {
    @include font-size(24px);
  }

  h4:not([class]) {
    @include font-size(20px);
  }

  pre {
    border-radius: $border-radius;
    margin: 1.5em 0;
    @include font-size(14.5px);
    background: $color-black;

    @include respond-to($bp-small) {
      margin: 2.5em 0;
    }
  }

  a[href]:not([class]) {
    color: $color-primary;
    border-bottom: 1px solid currentcolor;
    transition: border 150ms ease-in-out, border 150ms ease-in-out;

    &:hover {
      color: $color-black;
      border-color: currentcolor;
    }
  }

  img:not(.emoji) {
    max-width: 100%;
    display: block;
    height: auto;
  }

  .image {
    margin: 20px 0;
    position: relative;
    overflow: hidden;
    height: 0;

    @include respond-to($bp-small) {
      margin: 40px 0;
    }

    img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
