.content {
  @include font-size(17px);

  p {
    margin: 1.5em 0;
    line-height: 1.75em;

    a {
      font-weight: bold;
    }
  }

  body & p:not(.nodrop):first-child:first-letter {
    float: left;
    padding: 3px 6px 0 0;
    @include font-size(55px);
    font-weight: bold;
    line-height: 1em;
  }

  .emoji {
     height: 1em;
     width: 1em;
     margin: 0 .05em 0 .1em;
     vertical-align: -0.1em;
  }

  ol,
  ul {
    margin: 1.5em 0;
    padding: 0 0 0 25px;
    line-height: 1.75em;
  }

  ul {
    list-style-type: square;
  }

  h2:not([class]),
  h3:not([class]),
  h4:not([class]),
  h5:not([class]) {
    margin: 2em 0 1em;
    font-weight: normal;
    font-family: $font-secondary;
  }

  h2:not([class]) {
    @include font-size(28px);
  }

  h3:not([class]) {
    @include font-size(24px);
  }

  h4:not([class]) {
    @include font-size(20px);
  }

  pre {
    border-radius: 0;
    margin: 2.5em 0;
    @include font-size(14.5px);
    background: $color-black;
  }

  a[href]:not([class]) {
    color: $color-primary;
    border-bottom: 1px solid currentcolor;
    transition: border 150ms ease-in-out, border 150ms ease-in-out;

    &:hover {
      color: $color-black;
      border-color: currentcolor;
    }
  }

  img:not([class]) {
    max-width: 100%;
    height: auto;
    display: block;
  }

  /* TODO: Quote styles (Twitter, Testimonials, Post) */
}
