.deal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background: rgba(0,92,115,.8);
  z-index: 9999;
  display: none;

  &--visible {
    display: block;
  }

  &__box {
    width: 90%;
    background: $color-white;
    position: absolute;
    left: 50%;
    padding: 0 0 32px;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 3px;
    color: $color-text;

    @include respond-to($bp-small) {
      width: 780px;
      padding: 0 100px 32px;
    }
  }

  &__times {
    padding: 18px 50px;
    color: #777;
    text-align: center;
    border-bottom: 1px solid #dfdfdf;
    @include font-size(12px);

    @include respond-to($bp-small) {
      padding: 18px 0;
    }
  }

  &__textline {
    padding: 18px;
    line-height: 1.333em;
    @include font-size(18px);
    text-align: center;
  }

  &__button {
    display: block;
    padding: 16px 0;
    text-align: center;
    color: $color-white;
    border-radius: 3px;
    background: #80c900;
    line-height: 1em;
    @include font-size(18px);
    margin: 10px 18px 0;

    @include respond-to($bp-small) {
      margin: 10px 100px 0;
    }

    &:hover {
      background-color: rgba(118,186,0,1);
    }
  }

  &__group {
    position: relative;
    margin: 0 18px;

    @include respond-to($bp-small) {
      margin: 0 100px;
    }
  }

  &__dealcode {
    min-height: 53px;
    border: 1px solid #bbccd0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: url('/app/themes/deal-master/assets/images/codefeld-bg.png') left center repeat-x #e1ebed;
    padding: 14px 162px 0 14px;
    @include font-size(24px);
    text-align: center;
    color: $color-text;
    width: 100%;

    @include respond-to($bp-small) {
      border-radius: 3px;
    }
  }

  &__copy-code {
    background: #00acd7;
    border: 0;
    padding: 0;
    text-align: center;
    border-top: 1px solid #00acd7;
    border-left: 1px solid #00acd7;
    border-right: 1px solid #00acd7;
    border-bottom: 1px solid #0083a3;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #fff;
    padding: 6px 0;
    @include font-size(18px);
    line-height: 1.5em;
    cursor: pointer;
    width: 100%;
    margin-top: -1px;

    @include respond-to($bp-small) {
      margin-top: 0;
      position: absolute;
      top: 6.5px;
      right: 6.5px;
      width: 150px;
      border-radius: 3px;
    }

    &--done {
      border-color: #bbccd0;
      cursor: default;
      color: $color-text;
      background: url('/app/themes/deal-master/assets/images/codecopycheck.png') 20px 12.6px no-repeat #fff;
      font-weight: bold;
    }
  }

  &__close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: url('/app/themes/deal-master/assets/images/card-close.png') center center no-repeat;
    border: 0;
    padding: 0;
    @extend %text-hide;
    cursor: pointer;
  }
}
