.deal {
  &__header {
    background: url('/app/themes/deal-master/assets/images/header_single.jpg') center top no-repeat;
    background-size: cover;
    padding: 18px 0 40px;

    .tile-wide {
      border: 0;
      margin-bottom: 0;
    }
  }

  &__title {
    margin: 0;
    font-family: $font-secondary;
    @include font-size(18px);
    line-height: 1.5em;
    color: $color-white;
    margin: 0.5em 0;
    text-align: center;

    @include respond-to($bp-small) {
      @include font-size(46px);
      text-align: left;
      line-height: 1em;
    }
  }

  &__subtitle {
    font-family: $font-secondary;
    color: $color-white;
    @include font-size(14px);
    margin: 0 0 1em;
    line-height: 1.2em;
    font-weight: 400;
    text-align: center;

    @include respond-to($bp-small) {
      @include font-size(24px);
      text-align: left;
    }
  }

  &__intro {
    @include font-size(18px);
    color: $color-white;
    line-height: 1.5em;
    font-weight: 300;
    display: none;
    margin-bottom: 36px;

    @include respond-to($bp-small) {
      display: block;
    }

    a {
      color: $color-primary;
    }
  }

  &__content {
    h3 {
      font-family: $font-secondary;
      @include font-size(24px);
      line-height: 1.2em;
      margin: 0 0 1.5em 0;
      padding-top: 1.5em;
    }

    p {
      @include font-size(18px);
      font-weight: 300;
      line-height: 1.5em;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      @include font-size(18px);
      line-height: 1.5em;
      padding: 0 0 20px 30px;
      background: url('/app/themes/deal-master/assets/images/card-list-haken.png') 0 8px no-repeat;
    }

    a {
      color: $color-primary;
    }
  }

  .inner {
    position: relative;

    @include respond-to($bp-large) {
      padding: 0 20px;
    }

    @include respond-to($bp-wide) {
      padding: 0 220px;
    }
  }

  .badgetext {
    background: #9c0;
    text-transform: uppercase;
    color: $color-white;
    @include font-size(14px);
    line-height: 1em;
    letter-spacing: 0.2em;
    margin: 1em 0 0;
    padding: 10px 17px;
    position: relative;
    left: -17px;
    font-weight: 300;
    display: inline-block;
  }

  &__social {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: none;

    @include respond-to($bp-small) {
      display: block;
      position: absolute;
      top: 0;
      bottom: auto;
      width: auto;
    }

    a {
      width: 50%;
      height: 32px;
      display: block;
      float: left;
      background-position: center center;
      background-repeat: no-repeat;

      @include respond-to($bp-small) {
        width: 32px;
      }
    }

    .facebook-share-button {
      background-color: #3b5998;
      background-image: url('/app/themes/deal-master/assets/images/icon_sharebutton_facebook_32x32.png');

      @include respond-to($bp-small) {
        margin-right: 3px;
      }
    }

    .twitter-share-button {
      background-color: rgb(86, 163, 217);
      background-image: url('/app/themes/deal-master/assets/images/icon_sharebutton_twitter_32x32.png');
    }
  }
}

.counter {
  color: $color-white;
  background: url('/app/themes/deal-master/assets/images/icon_hourglass.gif') 24px center no-repeat rgb(255, 68, 68);
  display: none;
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 14px 16px 14px 70px;

  @include respond-to($bp-small) {
    padding: 50px 10px 0;
    background-position: 50% 16px;
    border-radius: 0;
    position: absolute;
    left: 20px;
    text-align: center;
    width: 180px;
    height: 212px;
  }

  &__heading {
    @include font-size(18px);
    font-weight: 400;

    @include respond-to($bp-small) {
      line-height: 2em;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      margin-bottom: 10px;
    }
  }

  &__part {
    @include font-size(14px);
    font-weight: 300;
    line-height: 1em;
    display: inline;

    @include respond-to($bp-small) {
      display: block;
      line-height: 24px;
    }
  }

  &__value {
    @include font-size(14px);
    font-weight: 700;

    @include respond-to($bp-small) {
      @include font-size(20px);
      font-weight: 400;
    }
  }
}
