.filter {
  @include font-size(18px);
  position: relative;
  display: none;

  @include respond-to($bp-medium) {
    display: block;
  }

  &--visible {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $color-white;
    z-index: 500;

    .popup {
      display: block !important;
    }

    .filter__title {
      display: block;

      button {
        display: block;
        height: 84px;
        @include font-size(18px);
        line-height: 80px;
        padding-left: 48px;
        border-bottom: 4px solid #dfdfdf;
        background: url('/app/themes/deal-master/assets/images/close-filter-mobile.png') 16px center no-repeat;
        background-size: 14px;
        width: 100%;
        text-align: left;
      }
    }

    .filter__list {
      padding: 11px 0;
      margin-top: 0;
      display: block;

      @include respond-to($bp-medium) {
        border-bottom: 3px solid #dfdfdf;
        display: block;
      }
    }

    .filter__item {
      line-height: 42px;
      background: url('/app/themes/deal-master/assets/images/pfeil-filter-mobile.png') 16px center no-repeat;
      background-size: 7px 12px;
      padding-left: 48px;
      margin-bottom: 0;
      color: $color-text;
    }
  }

  &__title {
    display: none;

    @include respond-to($bp-medium) {
      display: block;
      font-weight: 700;
      @include font-size(18px);
      color: $color-text;
      background: none;
      height: auto;
      line-height: 1em;
      border-bottom: 0;
      margin-bottom: 0;
    }

    button {
      padding: 0;
      background: transparent;
      border: 0;
    }
  }

  &__layout-switch {
    display: block;
    width: 62px;
    height: 38px;
    @extend %text-hide;
    background: url('/app/themes/deal-master/assets/images/galery-list-icons-list.png') left top no-repeat;
    margin-top: 16px;
    margin-bottom: 60px;

    &--toggled {
      background-image: url('/app/themes/deal-master/assets/images/galery-list-icons.png');
    }
  }

  &__list {
    margin-top: 23px;
    @extend %clearfix;

    @include respond-to($bp-medium) {
      display: block;
    }
  }

  &__item {
    color: #777;
    cursor: pointer;
    display: block;
    width: 100%;
    line-height: 1em;
    margin-bottom: 15px;
    padding: 0 20px 0 30px;
    background: url('/app/themes/deal-master/assets/images/filter-radios.png') 0 -20px no-repeat;

    &:hover {
      color: $color-primary;
    }

    &--active {
      color: $color-text;
      background-position: 0 0;
    }
  }

  &__layout {
    display: none;

    @include respond-to($bp-medium) {
      display: block;
    }
  }

  .popup {
    display: none;
    width: 100%;
    position: fixed;
    top: 84px;
    z-index: 600;
    background: #fff;

    @include respond-to($bp-medium) {
      background: transparent;
      width: 1050px;
      position: absolute;
      z-index: 200;
      top: 95px;
      left: -20px;
    }

    &--visible {
      display: block;
    }

    .filter__item {
      margin-bottom: 0;
      width: 100%;

      @include respond-to($bp-medium) {
        float: left;
        width: auto;
      }
    }

    &__header {
      @include respond-to($bp-medium) {
        background: #fff;
        padding: 40px 20px 16px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .4);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
    }

    &__title {
      font-weight: 700;
      display: none;

      @include respond-to($bp-medium) {
        display: block;
      }
    }

    &__options {
      @include respond-to($bp-medium) {
        background: #fff;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .4);
        padding: 0 20px 20px;
      }
    }

    &__option {
      position: fixed;
      top: 84px;
      left: 0;
      width: 100%;
      background: #fff;
      padding: 63px 15px 40px;
      display: none;
      @extend %clearfix;
      min-height: 240px;

      @include respond-to($bp-medium) {
        padding: 20px 0 0 0;
        position: static;
        min-height: 0;
        border-top: 2px solid #dfdfdf;
      }

      &-desc {
        border-bottom: 1px solid #dfdfdf;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;

        @include respond-to($bp-medium) {
          display: none;
        }
      }
    }

    &[data-active="all"] .popup__option--all {
      display: block;
    }

    &[data-active="bonus"] .popup__option--bonus {
      display: block;
    }

    &[data-active="bonus_p"] .popup__option--bonus_p {
      display: block;
    }

    &[data-active="conditions"] .popup__option--conditions {
      display: block;
    }

    &[data-active="share"] .popup__option--share {
      display: block;
    }

    &[data-active="period"] .popup__option--period {
      display: block;
    }

    &[data-active="type"] .popup__option--type {
      display: block;
    }

    &__value {
      margin: 1px;
      float: left;
      height: 40px;
      line-height: 40px;
      color: $color-text;
      @include font-size(18px);
      background: #ededed;
      padding: 0 8px;
      border: 0;
      border-radius: 2px;
      cursor: pointer;

      @include respond-to($bp-medium) {
        margin: 0 20px 20px 0;
      }

      &:hover {
        background-color: $color-primary;
        color: $color-white;
      }
    }

    &:after {
      @include respond-to($bp-medium) {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: ' ';
        z-index: -1;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5)
      }
    }

    &__close {
      display: none;

      @include respond-to($bp-medium) {
        position: absolute;
        top: 40px;
        right: 40px;
        display: block;
        width: 20px;
        height: 20px;
        text-indent: -9999px;
        border: 0;
        padding: 0;
        cursor: pointer;
        background: url('/app/themes/deal-master/assets/images/filter-close.png') center center no-repeat;
      }
    }
  }
}

.filter-toggle {
  color: $color-primary;
  @include font-size(16px);
  height: 51px;
  line-height: 51px;
  margin-bottom: 35px;
  border: 0;
  border-bottom: 1px solid #dfdfdf;
  width: 100%;
  padding: 0 5% 0 50px;
  text-align: left;
  margin-top: -51px;
  display: block;
  background: url('/app/themes/deal-master/assets/images/filter-mobile.png') 5% 20px no-repeat $color-white;

  @include respond-to($bp-medium) {
    display: none;
  }
}
