.header {
  @extend %clearfix;
  margin: 50px 0 80px;
  line-height: 35px;

  .inner {
    @include respond-to($bp-small) {
      width: 640px;
    }

    @include respond-to($bp-medium) {
      width: 1024px;
    }
  }
}

.logo {
  font-family: $font-secondary;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  @include font-size(24px);
  float: left;
  margin: 0;

  a {
    color: $color-black;
    display: block;
  }
}
