.header {
  @extend %clearfix;
  margin: 20px 0 40px;
  line-height: 35px;

  @include respond-to($bp-small) {
    margin: 50px 0 80px;
  }

  .inner {
    @include respond-to($bp-small) {
      width: 680px;
    }

    @include respond-to($bp-large) {
      width: 960px;
    }
  }
}

.logo {
  font-family: $font-secondary;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  @include font-size(20px);
  float: left;
  margin: 0;

  @include respond-to($bp-small) {
    @include font-size(24px);
  }

  a {
    color: $color-black;
    display: block;
  }
}
