.menu {
  @include font-size(22px);
  line-height: 40px;
  @extend %clearfix;
  margin: 0;
  padding: 0;
  list-style: none;

  @include respond-to($bp-medium) {
    padding: 0 20px;
    line-height: 100px;
  }

  a {
    padding: 0 !important;
    line-height: 1.5em;
  }

  &__item {
    float: none;

    @include respond-to($bp-medium) {
      margin-right: 40px;
      float: left;
    }
  }

  a {
    color: #fff;
    font-family: $font-secondary;
    display: inline-block;
    padding: 0 10px;
  }
}

#menu-top-left {
  @include respond-to($bp-medium) {
    float: left;
  }
}

#menu-top-right {
  @include respond-to($bp-medium) {
    float: right;
    @include font-size(20px);
    padding-right: 0;
  }

  .menu__item {
    @include respond-to($bp-medium) {
      margin: 0 0 0 40px;
    }
  }
}

#menu-footer {
  @include font-size(20px);
  text-align: center;

  a {
    padding: 0 !important;
    display: inline;
  }

  .menu__item {
    display: inline-block;
    float: none;
    margin: 0;

    &:after {
      content: '\2014';
      margin: 0 5px 0 7px;
      font-family: $font-secondary;
      color: #fff;
    }

    &:last-child:after {
      content: '';
      display: none;
    }
  }
}
