nav {
  position: relative;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: $font-secondary;
  @extend %clearfix;
  float: right;
  display: none;

  @include respond-to($bp-medium) {
    display: block;
  }

  &__item {
    display: block;
    float: left;
    margin-left: 2em;
    text-transform: uppercase;
    @include font-size(14px);
    letter-spacing: .15em;

    &--active {

    }
  }

  a {
    color: $color-black;
    display: block;
    padding: 0 10px;
  }
}

#menu-footer-nav {
  float: none;
  text-align: center;

  .menu__item {
    display: inline-block;
    float: none;
    margin: 0 1em;
  }

  a {
    display: inline-block;
    color: lighten($color-black, 40%);
  }
}

.menu-button {
  display: block;
  background: url('#{$image-path}/menu.svg') center center no-repeat;
  width: 35px;
  height: 35px;
  border: 0;
  @extend %text-hide;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 0;
  top: -1px;

  @include respond-to($bp-medium) {
    display: none;
  }
}
