.menu-wrapper {
  display: none;
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 80px 5% 20px;
  background: $color-primary;

  @include respond-to($bp-medium) {
    display: block;
    padding: 0;
    background: transparent;
    position: static;
  }

  &--visible {
    display: block;
  }

  .menu-close {
    background: url('/app/themes/deal-master/assets/images/navigation-icons.png') left -42px no-repeat;
    display: block;
    border: 0;
    padding: 0;
    position: absolute;
    top: 40px;
    left: 5%;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    @extend %text-hide;
    cursor: pointer;

    @include respond-to($bp-medium) {
      display: none;
    }
  }
}
