.page-header {
  background: url('/app/themes/deal-master/assets/images/header_single.jpg') center top/cover;
  padding: 24px 0;
  text-align: center;

  @include respond-to($bp-small) {
    padding: 75px 0;
  }

  h1 {
    @include font-size(24px);
    font-family: $font-secondary;
    color: #fff;
    margin: 0;

    @include respond-to($bp-small) {
      @include font-size(48px);
    }
  }

  &--subheading {
    text-align: center;
    padding: 64px 0;

    h1 {
      padding-left: 0;
      line-height: 1.3em;
    }

    h2 {
      margin: 0;
      color: $color-white;
      @include font-size(24px);
      font-family: $font-secondary;
      font-weight: 300;
      line-height: 1.3em;
    }
  }

  &--search {
    padding-bottom: 40px;
  }
}

.page-content {
  padding-bottom: 50px;

  h3 {
    font-family: $font-secondary;
    margin: 0.25em 0 0.5em 0;
    @include font-size(18px);

    @include respond-to($bp-small) {
      margin: 0.25em 0 0.5em 220px;
      @include font-size(24px);
    }
  }

  p {
    @include font-size(16px);
    line-height: 1.5em;

    @include respond-to($bp-small) {
      @include font-size(18px);
      padding-right: 36px;
      margin-left: 220px;
    }
  }

  ol, ul {
    @include font-size(16px);
    line-height: 1.5em;
    margin: 2em 0;
    padding-left: 25px;

    @include respond-to($bp-small) {
      @include font-size(18px);
      padding-right: 36px;
      margin-left: 220px;
    }
  }
}

.page-template-default {
  .page-header {
    margin-bottom: 24px;

    @include respond-to($bp-small) {
      text-align: left;
      margin-bottom: 80px;
    }

    h1 {
      @include respond-to($bp-small) {
        padding-left: 220px;
      }
    }
  }
}
