.post {
  &__title {
    font-family: $font-secondary;
    font-weight: normal;
    @include font-size(28px);
    text-align: center;
    margin: 0 0 30px;

    @include respond-to($bp-small) {
      margin-bottom: 50px;
      @include font-size(46px);
    }
  }

  &__link {
    color: $color-black;
    transition: color 150ms ease-in-out;

    &:hover {
      color: $color-black;
    }
  }

  &__thumb {
    margin-bottom: 30px;

    @include respond-to($bp-small) {
      margin-bottom: 50px;
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }

  &__content {
    .button {
      margin-top: 0.5em;

      @include respond-to($bp-small) {
        margin-top: 1.5em;
      }
    }

    &--excerpt {
      text-align: center;

      p {
        text-align: left;
      }
    }
  }

  &__footer {
    margin-top: 60px;

    @include respond-to($bp-small) {
      margin-top: 100px;
    }
  }

  .date {
    text-align: center;
  }
}
