.post {
  &__title {
    font-family: $font-secondary;
    font-weight: normal;
    @include font-size(50px);
    text-align: center;
    margin: 0 0 50px !important;
    padding: 0 0.5em;
  }

  &__link {
    color: $color-black;
  }

  &__thumb {
    margin-bottom: 50px;
    border-radius: 2px;

    img {
      max-width: 120% !important;
      height: auto;
      display: block;
      margin-left: -10%;
    }
  }

  &__content {
    margin-bottom: 100px;

    .button {
      margin-top: 2em;
    }
  }
}
