.post-list {

  &__date {
    color: #666;
    text-align: center;
    margin-bottom: 20px;
    @include font-size(14px);
    font-family: $font-primary;
    text-transform: uppercase;
  }

  &__item {
    text-align: center;

    h2 {
      margin: 0;
      @include font-size(36px);
      font-family: $font-secondary;
      font-weight: 400;
    }

    a {
      color: $color-text;
    }
  }
}
