.post-list {
  .post__thumb {
    margin-bottom: 30px;
  }

  .post__title {
    @include font-size(28px);

    @include respond-to($bp-small) {
      @include font-size(40px);
    }
  }

  .post {
    margin-bottom: 100px;

    &:last-child {
      margin-bottom: 0;
    }

    p {
      text-align: justify;
    }
  }
}
