.social {
  padding: 40px 0;
  text-align: center;

  ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    width: 240px;
    @extend %clearfix;
  }

  &__item {
    display: block;
    margin: 0 8px;
    float: left;

    a {
      display: block;
      width: 64px;
      height: 64px;
      overflow: hidden;
      background: url('/app/themes/deal-master/assets/images/social-icons.png') 0 center no-repeat #eee;
      border-radius: 4px;
    }

    &--twitter {
      a {
        background-position: -64px center;
      }
    }

    &--rss {
      a {
        background-position: -128px center;
      }
    }
  }
}
