.tile-wide {
  @extend %clearfix;
  background-color: $color-white;
  border-radius: 0 0 3px 3px;
  max-width: 760px;
  margin: 0 auto 20px;
  border: 1px solid #dfdfdf;
  position: relative;

  @include respond-to($bp-small) {
    border-radius: 0;
  }

  &--expired {
    .tile-wide__content:after {
      content: '';
      display: block;
      width: 100px;
      height: 100px;
      position: absolute;
      top: 0;
      right: 0;
      background: url('/app/themes/deal-master/assets/images/badge_dealmissed_en.png') right top no-repeat;
    }

    .tile-wide__content > *,
    .tile-wide__logo {
      opacity: 0.5;
    }
  }

  &__logo {
    float: left;
    padding: 16px;
    border-right: 1px dashed #dfdfdf;
    display: none;
    width: 212px;
    height: 212px;

    @include respond-to($bp-small) {
      display: block;
    }

    img {
      width: 180px;
      height: 180px;
    }
  }

  &__content {
    padding: 16px;

    @include respond-to($bp-small) {
      margin-left: 213px;
    }
  }

  &__meta {
    @include font-size(12px);
    font-weight: bold;
    line-height: 18px;
    color: #777;
    font-family: $font-primary;

    & > span {
      padding: 3px 12px 3px 25px;
      margin: 0 0 3px;
      display: inline-block;
    }
  }

  &__date {
    background: url('/app/themes/deal-master/assets/images/card-calendar.png') left center no-repeat;
    background-size: 15px 16px;
    color: $color-text;
  }

  &__exclusive {
    background: url('/app/themes/deal-master/assets/images/card-metasprite.png') 0 4px no-repeat;
  }

  &__endssoon {
    background: url('/app/themes/deal-master/assets/images/card-metasprite.png') 0 -35px no-repeat;
  }

  &__checked {
    background: url('/app/themes/deal-master/assets/images/card-metasprite.png') 0 -75px no-repeat;
  }

  &__used {
    padding-left: 28px;
    background: url('/app/themes/deal-master/assets/images/icon-check.svg') left center no-repeat;
    color: $color-text;
    display: inline-block;
    line-height: 20px;

    .value {
      color: $color-primary;
    }
  }

  &__bonus {
    font-weight: 700;
  }

  &__text {
    margin-top: 10px;
    @include font-size(18px);
    line-height: 1.35em;

    a {
      color: $color-primary;
    }
  }

  &__teaser {
    color: #777;
    @include font-size(18px);
    line-height: 1.35em;
  }

  &__codebox {
    @extend %clearfix;
    text-align: center;
    line-height: 40px;
    @include font-size(18px);
    display: inline-block;
    margin-top: 20px;
    width: 100%;

    @include respond-to($bp-small) {
      margin-top: 0;
      position: absolute;
      bottom: 16px;
      width: auto;
    }

    &--enabled a {
      cursor: pointer;
    }

    a, span {
      display: block;
      width: 100%;
      height: 40px;
      text-align: center;
      border-top: 1px solid $color-primary;
      border-bottom: 1px solid $color-secondary;
      background: $color-primary;
      font-weight: 400;
      color: $color-white;
      border-radius: 3px 3px 0 0;

      @include respond-to($bp-small) {
        width: 240px;
        border-radius: 3px 0 0 3px;
        border-color: $color-primary;
        float: left;
      }

      @include respond-to($bp-medium) {
        width: 288px;
      }
    }
  }

  &__codevalue {
    border: 1px solid #bbccd0;
    border-top: 0;
    float: left;
    width: 100%;
    height: 40px;
    border-radius: 0 0 3px 3px;
    color: $color-primary;
    font-family: $font-secondary;
    font-weight: 300;
    background: url('/app/themes/deal-master/assets/images/codefeld-bg.png') left center repeat-x;
    padding-top: 2px;

    @include respond-to($bp-small) {
      border-radius: 0 3px 3px 0;
      width: 180px;
      border: 1px solid #bbccd0;
      border-left: 0;
    }
  }

  &__appendix {
    padding-top: 5px;
    @include font-size(12px);
    font-weight: bold;
  }

  &__ends {
    color: #690;
    display: inline-block;
  }

  &__crosslink {
    display: inline-block;
    padding-left: 4px;
    border-left: 1px solid rgba(119,119,119,.75);
    margin-left: 4px;

    a {
      color: #777;
    }
  }
}
