%clearfix {
  &:before, &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
}

.clearfix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

%hidden {
  display: none !important;
}

.hidden {
  display: none !important;
}

%visible {
  display: block !important;
}

.visible {
  display: block !important;
}

%invisible {
  border: 0;
  clip:rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.invisible {
  border: 0;
  clip:rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

%float-left {
  float: left;
}

.float-left {
  float: left;
}

%float-right {
  float: right;
}

.float-right {
  float: right;
}

%img-responsive {
  height: auto;
  max-width: 100%;
  display: block;
}

.img-responsive {
  height: auto;
  max-width: 100%;
  display: block;
}

%text-left {
  text-align: left;
}

.text-left {
  text-align: left;
}

%text-right {
  text-align: right;
}

.text-right {
  text-align: right;
}

%text-center {
  text-align: center;
}

.text-center {
  text-align: center;
}

%text-justify {
  text-align: justify;
}

.text-justify {
  text-align: justify;
}

%text-uppercase {
  text-transform: uppercase;
}

.text-uppercase {
  text-transform: uppercase;
}

%text-hide {
  text-indent: -9999px;
  overflow: hidden;
  display: block;
}

.text-hide {
  text-indent: -9999px;
  overflow: hidden;
  display: block;
}

%block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
