// Breakpoints

$bp-small: emCalc(768px);
$bp-medium: emCalc(992px);
$bp-large: emCalc(1024px);
$bp-wide: emCalc(1280px);

// Colors

$color-primary: #f43059;
$color-black: #222;
$color-black-lighter: #333;
$color-white: #f9f9f9;

// Fonts

$font-size: 14px;
$font-primary: "Libre Baskerville", Georgia, Times, "Times New Roman", serif;
$font-secondary: Montserrat, Arial,"Helvetica Neue",Helvetica,sans-serif;

// Miscellaneous
