// Breakpoints

$bp-small: emCalc(768px);
$bp-medium: emCalc(992px);
$bp-large: emCalc(1024px);
$bp-wide: emCalc(1280px);

// Colors

$color-primary: #fe6e00;
$color-secondary: #a84800;
$color-text: #333;
$color-white: #fff;

// Fonts

$font-size: 14px;
$font-primary: Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-secondary: "Roboto Condensed", sans-serif;

// Miscellaneous
