<footer class="mt-16 md:mt-24 mb-16 text-gray-500 text-sm">
  <div class="container flex flex-col items-center space-y-6">
    <div>
      <nav class="flex flex-col items-center space-y-2">
        <ul class="flex space-x-4">
          <li>
            <a href="/rss.xml">RSS</a>
          </li>
          <li>
            <a href="https://twitter.com/larsgraubner">Twitter</a>
          </li>
          <li>
            <a href="https://github.com/lgraubner">Github</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="text-center">&copy;2022 {{ metadata.author.name }}</div>
  </div>
</footer>
