{% if tags.length > 0 %}
    <section class="mt-8">
        <ul class="flex flex-row space-x-1">
        {% for tag in tags %}
            <li>
                <a href="/tags/{{ tag }}/" class="text-white bg-black px-1.5 py-1 text-sm font-medium rounded-sm">{{ tag }}</a>
            </li>
        {% endfor %}
        </ul>
    </section>
{% endif %}
