/**
 * Global variables
 */

// Breakpoints

$bp-small: 768px;
$bp-medium: 992px;
$bp-large: 1024px;
$bp-wide: 1280px;

// Colors

$color-text: rgba(0, 0, 0, 0.8);
$color-primary: #f43059;
$color-black: rgba(0, 0, 0, 0.8);
$color-white: #fff;
$color-yellow: #FFF000;

// Fonts

$font-base-size: 14px !default;
$font-size: 14px !default;
$font-primary: "Libre Baskerville", Georgia, Times, "Times New Roman", serif;
$font-secondary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-monospace: Consolas, "Liberation Mono", Menlo, Courier, monospace;

// Miscellaneous
$image-path: '/app/themes/simius/assets/images';
$border-radius: 3px;
