/**
 * Bio information beneath posts
 */

.bio {
  position: relative;
  @include font-size(15px);
  max-width: 600px;
  margin: 0 auto;
  font-family: $font-secondary;
  line-height: 1.6em;

  .portrait {
    width: 80px;
    height: 80px;
    margin-bottom: 0;
    display: none;

    @include respond-to($bp-small) {
      display: block;
      position: absolute;
      left: 0;
      top: 5px;
      width: 60px;
      height: 60px;
    }

    img {
      margin: 0;
    }
  }

  &__text {
    margin-top: 20px;

    @include respond-to($bp-small) {
      padding-left: 85px;
      margin-top: 0;
    }

    p {
      margin: 0;
    }

    a {
      margin-left: 10px;
    }
  }
}
