.featured-posts {
  font-family: $font-secondary;

  .post-list {
    @extend %clearfix;
  }

  .post {
    width: 100%;
    margin-bottom: 30px;

    @include respond-to($bp-small) {
      float: left;
      width: 300px;
      margin-bottom: 20px;
    }

    &:nth-child(even) {
      @include respond-to($bp-small) {
        margin-left: 60px;
      }
    }

    .date {
      text-align: center;
      @include font-size(15px);

      @include respond-to($bp-small) {
        margin-bottom: 0.3em;
        text-align: left;
      }
    }

    &__title {
      @include font-size(20px);
      margin-bottom: 0;
      text-align: center;

      @include respond-to($bp-small) {
        text-align: left;
      }
    }

    &__thumb {
      margin-bottom: 0.5em;

      @include respond-to($bp-small) {
        margin-bottom: 1em;
      }
    }
  }
}
