.featured-posts {
  font-family: $font-secondary;

  .post-list {
    @extend %clearfix;
  }

  .post {
    margin: 0 auto 30px;
    width: 280px;
    max-width: 100%;

    @include respond-to($bp-small) {
      float: left;
      margin-bottom: 20px;
    }

    &:nth-child(even) {
      @include respond-to($bp-small) {
        margin-left: 50px;
      }
    }

    .date {
      text-align: left;
      @include font-size(15px);

      @include respond-to($bp-small) {
        margin-bottom: 0.1em;
      }
    }

    &__title {
      @include font-size(22px);
      margin-bottom: 0;
      text-align: left;

      @include respond-to($bp-small) {
        @include font-size(21px);
      }
    }

    &__thumb {
      margin-bottom: 0.5em;

      @include respond-to($bp-small) {
        margin-bottom: 1em;
      }
    }
  }
}
