/**
 * Front-page intro text
 */

.intro {

  .inner {
    @include respond-to($bp-medium) {
      width: 680px;
    }
  }

  p {
    margin-top: 1em;
    @include font-size(17px);

    &:first-of-type {
      @include font-size(19px);
      font-weight: 600;
      margin-top: 0;
    }
  }
}
