/**
 * Front-page intro text
 */

.intro {

  .inner {
    @include min-width($bp-medium) {
      width: 680px;
    }
  }

  p {
    margin-top: 1em;
    font-size: 17px;

    &:first-of-type {
      font-size: 19px;
      font-weight: 600;
      margin-top: 0;
    }
  }
}
