/**
 * Logo
 */

.logo {
  font-family: $font-secondary;
  text-transform: uppercase;
  font-size: 26px;
  float: left;
  margin: 0;
  font-weight: bold;

  @include min-width($bp-small) {
    font-size: 24px;
    letter-spacing: 0.17em;
  }

  span {
    display: none;

    @include min-width($bp-small) {
      display: inline;
    }
  }

  a {
    color: $color-black;
    display: block;
  }
}
