.logo {
  font-family: $font-secondary;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  @include font-size(20px);
  float: left;
  margin: 0;
  font-weight: bold;

  @include respond-to($bp-small) {
    @include font-size(24px);
  }

  a {
    color: $color-black;
    display: block;
  }
}
