/**
 * Searchform
 */

.searchform {
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid $color-black;
  font-family: $font-secondary;
  width: 100%;
  border-radius: $border-radius;

  @include min-width($bp-small) {
    width: 520px;
  }

  &__input {
    display: block;
    line-height: 50px !important;
    float: left;
    padding: 0 10px;
    border: 0;
    font-size: 20px !important;
    width: 80%;

    @include min-width($bp-small) {
      width: 453px;
    }
  }

  &__submit {
    display: block;
    float: right;
    border: 0;
    background: $color-black;
    height: 50px;
    color: $color-white;
    padding: 0;
    cursor: pointer;
    transition: background 150ms ease-in-out;
    width: 20%;

    @include min-width($bp-small) {
      width: 65px;
    }

    &:hover {
      background: $color-black;
    }

    &:active {
      background: #444;
    }
  }
}
