{{ define "content" }}
<div class="inner">
  <article class="post">
    <header class="post__header">
      <div class="post__date">
        {{ dateFormat "January 01, 2006" .Date }}
      </div>
      <h1 class="post__title title">
        {{ .Title }}
      </h1>
    </header>
    <div class="post__content content">
      {{ .Content }}
    </div>
    <footer class="post__footer">
      <ul class="tags">
        {{ range .Params.tags }}
        <li>
          <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        </li>
        {{ end }}
      </ul>
    </footer>
  </article>
</div>
{{ end }}
