{{ define "content" }}
<div class="inner">
  <article class="post">
    <header class="post__header">
      <div class="post__date">
        {{ dateFormat "January 01, 2006" .Date }}
      </div>
      <h1 class="post__title">
        {{ .Title }}
      </h1>
      {{ partial "categories" . }}
    </header>
    <div class="content">
      {{ .Content }}
    </div>
    <footer class="post__footer">
      <div class="prevnext clear">
        {{ if .PrevInSection }}
          <a href="{{ .PrevInSection.Permalink }}" class="prevnext__link prevnext__link--prev">{{ .PrevInSection.Title }}</a>
        {{ end }}
        {{ if .NextInSection }}
          <a href="{{ .NextInSection.Permalink }}" class="prevnext__link prevnext__link--next">{{ .NextInSection.Title }}</a>
        {{ end }}
      </div>
    </footer>
  </article>
</div>
{{ end }}
