{{ define "header" }}
  {{ partial "header-small" . }}
{{ end }}
{{ define "content" }}
<article class="post">
  <div class="inner">
    <header class="post__header">
      <h1 class="post__title">
        {{ .Title }}
      </h1>
      <div class="post__date">
        {{ dateFormat "January 01, 2006" .Date }}
      </div>
    </header>
    <div class="content">
      {{ .Content }}
    </div>
    <footer class="post__footer">
      <div class="categories">
        Published in
        {{ range $i, $e := .Params.categories }}{{ if $i }} • {{ end }}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}/">{{ $e }}</a>{{ end }}
      </div>
    </footer>
  </div>
</article>
{{ end }}
{{ define "footer" }}
  {{ partial "author" . }}
{{ end }}
