.error404 {
  .featured-posts {
    margin-top: 40px;

    @include min-width($bp-small) {
      margin-top: 60px;
    }
  }

  .searchform {
    margin-top: 40px;

    @include min-width($bp-small) {
      margin-top: 60px;
    }
  }

  .page-content {
    font-size: 18px;
    text-align: center;
  }
}
