.home {
  .content .inner {
    @include respond-to($bp-medium) {
      width: 680px;
    }
  }

  .section {
    margin-bottom: 60px;
    text-align: center;

    @include respond-to($bp-small) {
      margin-bottom: 80px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    h2 {
      text-align: center;
      margin: 0 0 1em;
      @include font-size(30px);

      @include respond-to($bp-small) {
        margin-bottom: 1.5em;
      }
    }

    .button {
      margin: 1.5em 0 0;

      @include respond-to($bp-small) {
        margin-top: 2.5em;
      }
    }
  }
}
