/**
 * Search page
 */

.search-no-results .page-content {
  text-align: center;
  @include font-size(20px);
}

.search {
  .relevanssi-query-term {
    background: $color-primary;
    color: $color-white;
  }
}
