/**
 * Search page
 */

.search-no-results .page-content {
  text-align: center;
  font-size: 18px;

  .featured-posts {
    margin-top: 40px;
  }
}

.search {
  .relevanssi-query-term {
    background: $color-primary;
    color: $color-white;
  }

  .searchform {
    margin-bottom: 60px;
  }

  .page-header {
    margin-bottom: 20px;

    @include min-width($bp-small) {
      margin-bottom: 30px;
    }
  }
}
