/**
 * Global variables
 */

// Breakpoints

$bp-small: 768px;
$bp-medium: 992px;
$bp-large: 1024px;
$bp-wide: 1280px;

// Colors

$color-primary: #841e99 !default;
$color-text: #34495e !default;
$color-gray: #999;
$color-dark-blue: #3a4250;
$color-white-dim: rgba(255, 255, 255, 0.95);

// Fonts

$font-base-size: 14px !default;
$font-primary: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-monospace: Consolas, Liberation Mono, Menlo, Courier, monospace;

// Miscellaneous
$image-path: '../images/';
$box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
