/**
 * Global variables
 */

// Breakpoints

$bp-small: 768px;
$bp-medium: 992px;
$bp-large: 1024px;
$bp-wide: 1280px;

// Colors

$color-primary: orange !default;
$color-text: #222 !default;

// Fonts

$font-base-size: 14px !default;
$font-primary: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;

// Miscellaneous
$image-path: '/assets/images';
