.home {
  .content .inner {
    @include respond-to($bp-medium) {
      width: 720px;
    }
  }

  .header {
    margin-bottom: 30px;

    @include respond-to($bp-small) {
      margin-bottom: 60px;
    }
  }

  .section {
    margin-bottom: 60px;
    text-align: center;

    @include respond-to($bp-small) {
      margin-bottom: 100px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &--gray {
      background: #f9f9f9;
      padding: 60px 0;
    }

    h2 {
      text-align: center;
      margin: 0;
      @include font-size(30px);
    }

    .button {
      margin: 1.5em 0 0;

      @include respond-to($bp-small) {
        margin-top: 2.5em;
      }
    }
  }
}
