.home {
  .content .inner {
    @include respond-to($bp-medium) {
      width: 720px;
    }
  }

  .header {
    margin-bottom: 60px;
  }

  .section {
    margin-bottom: 100px;
    text-align: center;

    &:last-of-type {
      margin-bottom: 0;
    }

    &--gray {
      background: #f9f9f9;
      padding: 60px 0;
    }

    h2 {
      text-align: center;
      margin: 0;
      @include font-size(30px);
    }

    &.twitter h2 {
      background: url('#{$image-path}/twitter.svg') right center no-repeat;
      background-size: auto 100%;
      padding: 0 55px;
      display: inline-block;
    }

    .button {
      margin: 30px 0 0;
    }
  }

  .twitter {
    display: none;
    min-height: 350px;
    background: lighten(#55acee, 35%);

    .loading-animation {
      margin-top: 80px;
    }
  }
}
