
/*!
 * Best Deals
 */

.widget-bestdeals {
  text-align: center;
  background-color: rgb(237, 237, 237);
}

.widget-bestdeals {

  img.deal_logo {
    width: 5em; /* 80px */
    height: 3.4375em; /* 55px */
    vertical-align: top;
  }

}

.widget-bestdeals .widget-bestdeals-deals-wrapper {
  max-width: 18.75em; /* 300px */
  margin: 0 auto;
  padding-bottom: 2.5em; /* 40px */
}
@media all and (min-width: 38.75em) {
  .widget-bestdeals .widget-bestdeals-deals-wrapper {
    max-width: 37.5em; /* 600px */
    padding-bottom: 4.375em; /* 70px */
  }
}
@media all and (min-width: 56.25em) {
  .widget-bestdeals .widget-bestdeals-deals-wrapper {
    position: relative;
  }
}

/* Headlines */


.widget-bestdeals .widget-bestdeals-title {
  margin-right: .888888889em; /* 16px */
  margin-left: .888888889em; /* 16px */
  padding-top: 2.222222222em; /* 40px */
  font-size: 1.125em; /* 18px */
  font-weight: 700;
  line-height: 1.111111111em;
}
@media all and (min-width: 38.75em) {
  .widget-bestdeals .widget-bestdeals-title {
    margin-right: .533333333em; /* 16px */
    margin-left: .533333333em; /* 16px */
    padding-top: 3.333333333em; /* 100px */
    font-size: 1.875em; /* 30px */
  }
}

.widget-bestdeals .widget-bestdeals-subline {
  margin-right: 1.142857143em; /* 16px */
  margin-bottom: 1.428571429em; /* 14px */
  margin-left: 1.142857143em; /* 16px */
  font-size: .875em; /* 14px */
  font-weight: 400;
  line-height: 1.428571429em; /* 20px */
}
@media all and (min-width: 38.75em) {
  .widget-bestdeals .widget-bestdeals-subline {
    margin-right: .888888889em; /* 16px */
    margin-bottom: 2.111111111em;
    margin-left: .888888889em; /* 16px */
    font-size: 1.125em; /* 18px */
  }
}

/* Items */

.widget-bestdeals .bestdeal-item {
  width: 5em; /* 80px */
  height: 5.625em; /* 90px */
  margin-right: .625em; /* 10px */
  margin-bottom: 2.25em; /* 36px */
  margin-left: .625em; /* 10px */
  box-shadow: 0 .0625em .0625em 0 rgba(215,215,199,1); /* 1px */
}

.widget-bestdeals .bestdeal-item .bonus-line {
  height: 3.181818182em; /* 35px */
  color: rgb(51, 51, 51);
  background-color: rgb(255, 255, 255);
  font-size: .6875em; /* 11px */
  font-weight: 700;
  line-height: 3.181818182em; /* 35px */
}

/**
 * Slider Navigation
 */

.widget-bestdeals ul.slick-dots li button,
.widget-bestdeals .slick-prev,
.widget-bestdeals .slick-next {
  width: .625em; /* 10px */
  height: .625em; /* 10px */
  margin: 0;
  padding: 0;
  cursor: pointer;
  vertical-align: middle;
  text-indent: -9999px;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url("/app/themes/deal-master/assets/images/slider-icons-footer.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: .625em 3.9375em; /* 10px 63px */
  line-height: .625em; /* 10px */

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.widget-bestdeals .slick-prev {
  float: left;
  margin-left: .625em;
}

.widget-bestdeals .slick-next {
  float: right;
  margin-right: .625em;
  background-position: 0 -1.125em; /* 18px */
}

@media all and (min-width: 56.25em) {
  .widget-bestdeals .slick-prev,
  .widget-bestdeals .slick-next {
    position: absolute;
    top: 1.875em; /* 30px */
    width: 1.875em; /* 30px */
    height: 1.875em; /* 30px */
    background-image: url("/app/themes/deal-master/assets/images/slider-chevrons.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 1.875em 3.75em;/* 30px 60px */
  }

  .widget-bestdeals .slick-prev {
    left: -4.75em; /* -76px */
    background-position: 0 -1.875em; /* -30px */
  }

  .widget-bestdeals .slick-next {
    right: -4.75em; /* -76px */
  }
}

.widget-bestdeals ul.slick-dots {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  line-height: .625em; /* 10px */
}
.widget-bestdeals ul.slick-dots li {
  display: inline-block;
  line-height: inherit;
}
.widget-bestdeals ul.slick-dots li button {
  margin-right: .3125em; /* 5px */
  margin-left: .3125em; /* 5px */
  background-position: 0 -2.125em; /* -34px */
}
.widget-bestdeals ul.slick-dots li.slick-active button {
  background-position: 0 -3.3125em; /* -53px */
}
