.button {
  background: $color-black-lighter;
  @include font-size(18px);
  color: $color-white;
  padding: .6em 0.9em;
  display: inline-block;
  margin: 0 auto;
  font-family: $font-secondary;
  transition: background-color 150ms ease-in-out;
  border-radius: 2px;

  &:hover {
    background: $color-black;
  }

  &:active {
    background-color: #444;
  }
}
