.button {
  @include font-size(18px);
  padding: .6em 0.9em;
  display: inline-block;
  margin: 0 auto;
  font-family: $font-secondary;
  transition: background-color 100ms ease-in-out, border-color 100ms ease-in-out;
  border: 2px solid $color-primary;
  background: #fff;
  color: $color-primary;
  border-radius: $border-radius;

  &:hover {
    background: $color-primary;
    color: $color-white;
  }

  &:active {
    background-color: darken($color-primary, 10%);
    border-color: darken($color-primary, 10%);
  }
}
