.intro {
  p {
    font-family: $font-secondary;
    margin-top: 1em;
    @include font-size(18px);

    &:first-of-type {
      @include font-size(19px);
      font-weight: 600;
      margin-top: 0;
    }
  }
}
