.latest-posts {
  font-family: $font-secondary;

  .post-list {
    @extend %clearfix;
  }

  .post {
    float: left;
    width: 300px;
    margin-bottom: 0;
    min-height: 280px;

    &:not(:first-child) {
      margin-left: 60px;
    }

    .date {
      margin-bottom: 0.3em;
      text-align: left;
    }

    &__title {
      @include font-size(22px);
      margin-bottom: 0;
      text-align: left;
    }

    &__thumb {
      margin-bottom: 1em;
    }
  }
}
