.portrait {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 60px;
  border: 3px solid rgba(0, 0, 0, 0.05);
  box-sizing: content-box;

  img {
    width: 100%;
    height: auto;
  }
}
