---
layout: layouts/page.njk
---

<article>
    <time class="block mb-1 text-sm text-gray-500 font-semibold" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
    <h1 class="font-bold text-2xl mb-7">{{ title }}</h1>

    <div class="prose">
        {{ content | safe }}
    </div>

    {% include 'tag-list.njk' %}

    {% include 'similar-posts.njk' %}
</article>
