<!doctype html>
<html lang="{{ .Site.LanguageCode }}" class="no-js">
  <head>
    {{ partial "head" . }}
  </head>
  <body>
    {{ block "header" . }}
      {{ partial "header" . }}
    {{ end }}
    <main id="content" role="main">
      {{ block "content" . }}
      {{ end }}
    </main>
    {{ block "footer" . }}
      {{ partial "footer" . }}
    {{ end }}

    {{ if not .Site.BuildDrafts }}
      {{ partial "google_analytics" . }}
    {{ end }}

    {{ with (index .Site.Data.assets "app.js") }}
      <script src="/scripts/{{ . }}"></script>
    {{ end }}
  </body>
</html>
