{{ define "main" }}
    <h1 class="main-heading">{{ .Title }}</h1>

    {{ $prev := 0 }}
    {{ range (.Paginate .Pages.ByDate.Reverse).Pages }}
        {{ if ne $prev (.Date.Format "2006") }}
            {{ if ne $prev 0 }}
                </ul>
            {{ end }}
            <h2 class="post-list-year">{{ .Date.Format "2006" }}</h2>
            <ul class="post-list list">
        {{ end }}
                <li>
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </li>
        {{ $prev = (.Date.Format "2006") }}
    {{ end }}
    </ul>


    {{ if gt .Paginator.TotalPages 1 }}
        {{ partial "pagination.html" . }}
    {{ end }}
{{ end }}
