{{ define "content" }}
{{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
<div class="page-header">
  <div class="inner">
    <h1 class="page-header__title">
      {{ .Title }}
    </h1>
    <div class="page-header__count">
      ({{ $paginator.TotalNumberOfElements }} Post{{ if gt $paginator.TotalNumberOfElements 1 }}s{{ end }})
    </div>
  </div>
</div>
  <div class="post-list">
    <div class="inner">
      {{ range $paginator.Pages }}
        {{ .Render "summary" }}
      {{ end }}
    </div>
  </div>
  {{ partial "pagination.html" . }}
</div>
{{ end }}
