{{ define "main" }}
    <article class="post">
        <header class="post-header">
            <time datetime="{{ .Date }}" class="post-date">{{ .Date.Format "January 2, 2006" }}</time>
            <h1 class="main-heading">{{ .Title }}</h1>
        </header>

        <div class="post-content">
            {{ .Content }}
        </div>

        <footer class="post-footer">
            <a href="https://github.com/lgraubner/larsgraubner.com/edit/master/content/{{ .File.Path }}">Edit</a> &middot; Last updated: {{ .Lastmod.Format "January 2, 2006" }}
        </footer>
    </article>
{{ end }}
