@tailwind base;
@tailwind components;
@tailwind utilities;

.post-content p {
    @apply leading-relaxed mb-7;
}

.post-content p code {
    font-size: 85%;
    padding: 0.2em 0.4em;
    background-color: rgba(175, 184, 193, 0.2);

    @apply rounded-md m-0;
}

.post-content pre {
    margin: 2em 0;
    font-size: 85%;
    background-color: #f6f8fa !important;

    @apply rounded-md leading-normal overflow-auto p-4;
}

.post-content h2 {
    @apply text-2xl font-semibold mt-10 mb-6;
}

.post-content h3 {
    @apply text-xl font-semibold mt-10 mb-6;
}
