    <footer class="footer" role="contentinfo">
      <nav role="navigation" class="nav-footer">
        <ul>
          {{ $currentPage := . }}
          {{ range .Site.Menus.footer }}
            <li class="nav-footer__item{{if $currentPage.IsMenuCurrent "footer" . }} nav-footer__item--current{{end}}">
              <a href="{{ .URL }}">
                {{ .Name }}
              </a>
            </li>
          {{ end }}
        </ul>
      </nav>
    </footer>
    {{ if (isset .Site.Data "assets") }}
      <script src="/scripts/{{ index .Site.Data.assets "app.js" }}"></script>
    {{ else }}
      <script src="/scripts/main.js"></script>
    {{ end }}
  </body>
</html>
