<footer class="footer">
    <div class="container">
        <div class="heading">Links</div>
        <ul class="list">
            <li>
                <a href="https://twitter.com/larsgraubner">Twitter</a>
            </li>
            <li>
                <a href="https://github.com/lgraubner">Github</a>
            </li>
            <li>
                <a href="https://www.xing.com/profile/Lars_Graubner2">Xing</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/larsgraubner/">LinkedIn</a>
            </li>
            <li>
                <a href="/index.xml">RSS</a>
            </li>
        </ul>

        <div class="copyright">The source code is licensed MIT. The website content is licensed <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="nofollow">CC BY NC SA 4.0</a>.</div>
    </div>
</footer>
