    <footer class="footer" role="contentinfo">
      <nav class="nav-footer">
        <ul>
          {{ range .Site.Menus.footer }}
            <li class="nav-footer__item">
              <a href="{{ .URL }}">
                {{ .Name }}
              </a>
            </li>
          {{ end }}
        </ul>
      </nav>
      <div class="social">
        <a href="https://twitter.com/larsgraubner" class="social__icon social__icon--twitter" target="_blank" title="Lars on Twitter">Twitter</a>
        <a href="https://github.com/lgraubner" class="social__icon social__icon--github" target="_blank" title="Lars on Github">Github</a>
        <a href="/index.xml" class="social__icon social__icon--rss" target="_blank" title="RSS Feed">RSS</a>
      </div>
    </footer>
    {{ if (isset .Site.Data "assets") }}
      <script src="/scripts/{{ index .Site.Data.assets "app.js" }}"></script>
    {{ else }}
      <script src="/scripts/main.js"></script>
    {{ end }}
  </body>
</html>
