<header class="header twemoji" role="banner">
  <div class="inner">
    <a href="/">
      <img src="/images/lars-110x110.jpg" srcset="/images/lars-110x110.jpg, /images/lars-110x110@2x.jpg 2x" width="110" height="110" alt="Lars Graubner" class="portrait">
    </a>
    {{ if .IsHome }}<h1 class="logo">{{ else }}<div class="logo">{{ end }}
      Lars Graubner
    {{ if .IsHome }}</h1>{{ else }}</div>{{ end }}
    <h2>
      {{ .Site.Params.Slogan }}
    </h2>
  </div>
  {{ partial "nav" . }}
</header>
