<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ if .IsHome }}{{ .Site.Author.name }} – Front-end Developer{{ else }}{{ if eq .Page.Kind "taxonomy" }}{{ end }}{{ .Title }}{{ if not (eq .Page.Params.type "post") }} – {{ .Site.Author.name }}{{ end }}{{ end }}</title>

<meta name="description" content="{{ if (eq .Page.Kind "taxonomy") }}{{ with (index .Site.Data.categories .Title)}}{{.}}{{ end }}{{ else }}{{ .Params.Description }}{{ end }}" />
<meta name="robots" content="{{ if or (.Params.noindex) (eq .Page.Kind "taxonomy") }}no{{ end }}index,{{ if .Params.nofollow }}no{{ end }}follow">

<link rel="canonical" href="{{ .Permalink }}">
<meta property="og:title" content="{{ if .IsHome }}{{ .Site.Author.name }} – Front-end Developer{{ else }}{{ .Title }}{{ if not (eq .Page.Params.type "post") }} – {{ .Site.Author.name }}{{ end }}{{ end }}" />
<meta property="og:type" content="{{ if eq .Page.Params.type "post" }}article{{ else if or (eq .Page.Kind "taxonomy") (eq .Page.Title "Blog") }}blog{{ else }}website{{ end }}" />

<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="{{ .Site.Author.name }}" />
<meta property="og:description" content="{{ if (eq .Page.Kind "taxonomy") }}{{ with (index .Site.Data.categories .Title)}}{{.}}{{ end }}{{ else }}{{ .Params.Description }}{{ end }}" />
<meta property="og:image" content="{{ .Site.BaseURL }}/images/lars-1200x1200.jpg" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@larsgraubner" />
<meta name="twitter:domain" content="larsgraubner.com" />
<meta name="twitter:title" content="{{ if .IsHome }}{{ .Site.Author.name }} – Front-end Developer{{ else }}{{ .Title }} – {{ .Site.Author.name }}{{ end }}" />
<meta name="twitter:description" content="{{ if (eq .Page.Kind "taxonomy") }}{{ with (index .Site.Data.categories .Title)}}{{.}}{{ end }}{{ else }}{{ .Params.Description }}{{ end }}" />
<meta name="twitter:image" content="{{ .Site.BaseURL }}/images/lars-1200x1200.jpg" />

<link rel="dns-prefetch" href="//twemoji.maxcdn.com" />
<link rel="dns-prefetch" href="//fonts.googleapis.com" />

{{ if .RSSLink }}
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
{{ end }}

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=00rpQPNLyw">
<link rel="icon" type="image/png" href="/favicon-32x32.png?v=00rpQPNLyw" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-16x16.png?v=00rpQPNLyw" sizes="16x16">
<link rel="manifest" href="/manifest.json?v=00rpQPNLyw">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=00rpQPNLyw" color="#5bbad5">
<meta name="theme-color" content="#ffffff">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700" rel="stylesheet">

{{ with (index .Site.Data.assets "app.css") }}
<link rel="stylesheet" href="/styles/{{ . }}" type="text/css" />
{{ end }}

{{ if .IsHome }}
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Person",
  "name" : "{{ .Site.Author.name }}",
  "image": "https://larsgraubner.com/images/lars-1200x1200.jpg",
  "jobTitle": "Front-end developer",
  "url" : "https://larsgraubner.com",
  "sameAs" : ["https://twitter.com/larsgraubner"]
}
</script>
{{ else if (eq .Page.Params.type "post" )}}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "headline": "{{ .Title }}",
  "author": {
    "name": "{{ .Site.Author.name }}"
  },
  "datePublished": "{{ dateFormat "2006-01-02" .Date }}",
  "description": "{{ .Params.description }}",
  "image": {
    "url": "https://larsgraubner.com/images/lars-1200x1200.jpg",
    "width": 1200,
    "height": 1200
  }
}
</script>
{{ else if (eq .Page.Title "Blog") }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Blog",
  "name": "Lars' Blog",
  "url": "https://larsgraubner.com/blog/",
  "description": "{{ .Params.description }}",
  "sameAs": [
    "https://twitter.com/larsgraubner"
  ],
  "publisher": {
    "@type": "Person",
    "name": "{{ .Site.Author.name }}"
  }
}
</script>
{{ end }}

{{ if not .Site.BuildDrafts }}
<script>
  (function () {
    if('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/sw.js');
    }
  })();
</script>
{{ end }}

<script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
