<!doctype html>
<html lang="en-US" class="no-js">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>{{ if .IsHome }}Lars Graubner – Front-end Developer{{ else }}{{ .Title }} – Lars Graubner{{ end }}</title>

      <meta name="description"  content="{{ .Params.Description }}" />
      <meta name="robots" content="{{ if eq .Kind "taxonomy" }}no{{ end }}index,follow">

      <link rel="canonical" href="{{ .Permalink }}">
      <meta property="og:title" content="{{ if .IsHome }}Lars Graubner – Front-end Developer{{ else }}{{ .Title }} – Lars Graubner{{ end }}" />
      <meta property="og:type" content="blog" />
      <meta property="og:url" content="{{ .Site.BaseURL }}" />
      <meta property="og:site_name" content="Lars Graubner" />
      <meta property="og:description" content="{{ .Params.Description }}" />
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:site" content="@larsgraubner" />
      <meta name="twitter:domain" content="larsgraubner.com" />
      <meta name="twitter:title" content="{{ if .IsHome }}Lars Graubner – Front-end Developer{{ else }}{{ .Title }} – Lars Graubner{{ end }}" />
      <meta name="twitter:description" content="{{ .Params.Description }}" />

      {{ if .IsHome }}
      <script type="application/ld+json">
      { "@context" : "http://schema.org",
        "@type" : "Person",
        "name" : "Lars Graubner",
        "url" : "https://larsgraubner.com",
        "sameAs" : ["https://twitter.com/larsgraubner"]
      }
      </script>
      {{ end }}

      <link rel="dns-prefetch" href="//twemoji.maxcdn.com" />
      <link rel="dns-prefetch" href="//fonts.googleapis.com" />

      <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}/apple-touch-icon.png">
      <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/favicon-32x32.png" sizes="32x32">
      <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/favicon-16x16.png" sizes="16x16">
      <link rel="manifest" href="{{ .Site.BaseURL }}/manifest.json">
      <link rel="mask-icon" href="{{ .Site.BaseURL }}/safari-pinned-tab.svg" color="#5bbad5">
      <link rel="shortcut icon" href="{{ .Site.BaseURL }}/favicon.ico">
      <meta name="msapplication-config" content="{{ .Site.BaseURL }}/browserconfig.xml">
      <meta name="theme-color" content="#ffffff">

      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700" rel="stylesheet">

      {{ if (isset .Site.Data "assets") }}
      <link rel="stylesheet" href="/styles/{{ index .Site.Data.assets "app.css" }}" type="text/css" />
      {{ end }}

      <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
      <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    </head>
    <body class="{{ if .IsHome }}home {{ end }}{{ if (isset .Data "Singular") }}{{ .Data.Singular }}{{ end }}">
