<a class="skip-navigation" href="#content">Skip navigation</a>
<nav role="navigation" class="nav">
  <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      <li{{if $currentPage.IsMenuCurrent "main" . }} class="active"{{end}}>
        <a href="{{ .URL }}">
          {{ .Name }}
        </a>
      </li>
    {{ end }}
    <li>
      <a href="https://twitter.com/larsgraubner" target="_blank" rel="nofollow noopener">
        Twitter
      </a>
    </li>
    <li>
      <a href="https://github.com/lgraubner/" target="_blank" rel="nofollow noopener">
        GitHub
      </a>
    </li>
  </ul>
</nav>
