<script type="application/ld+json">
    {{ if and (.IsPage) (eq .Section "blog") }}
      {
        "@context" : "http://schema.org",
        "@type" : "BlogPosting",
        "mainEntityOfPage": {
              "@type": "WebPage",
              "@id": "{{ .Site.BaseURL }}"
        },
        "articleSection" : "{{ .Section }}",
        "name" : "{{ .Title }}",
        "headline" : "{{ .Title }}",
        "description" : "{{ .Description }}",
        "inLanguage" : "{{ .Site.LanguageCode }}",
        "author" : "{{ .Site.Author.name }}",
        "creator" : "{{ .Site.Author.name }}",
        "publisher": "{{ .Site.Author.name }}",
        "accountablePerson" : "{{ .Site.Author.name }}",
        "copyrightHolder" : "{{ .Site.Author.name }}",
        "copyrightYear" : "{{ .Date.Format "2006" }}",
        "datePublished": "{{ .Date }}",
        "dateModified" : "{{ .Date }}",
        "url" : "{{ .Permalink }}",
        "wordCount" : "{{ .WordCount }}",
        "keywords" : ["Blog"]
      }
    {{ else }}
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "{{ .Permalink }}",
        "name": "{{ .Title }}",
        "author": {
          "@type": "Person",
          "name": "{{ .Site.Author.name }}"
        },
        "description": "{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}"
      }
    {{ end }}
</script>
