<!doctype html>
<html lang="{{ .Site.LanguageCode }}" class="no-js">
  <head>
    {{ partial "head" . }}
  </head>
  <body class="error404">
    <div class="container">
      <div class="title">
        <h1>404</h1>
        <h2>Page not found.</h2>
        <div class="link">
          <a href="/">&larr; Take me back</a>
        </div>
      </div>
    </div>

    {{ if not .Site.BuildDrafts }}
      {{ partial "google_analytics" . }}
    {{ end }}

    {{ with (index .Site.Data.assets "app.js") }}
      <script src="/scripts/{{ . }}"></script>
    {{ end }}
  </body>
</html>

