{{ define "main" }}
<h1 class="main-heading">Page not found</h1>

<section class="content-404">
    <p>
        The requested page could not be found. Please contact the owner of the site
        that linked you to the original URL and let them know their link is broken.
    </p>

    <img src="/notfound.webp" alt="John Travolta - Pulp Fiction" />
</section>

<h2 class="heading">Latest Articles</h2>
<ul class="list">
    {{ range first 5 (where .Site.RegularPages "Section" "blog") }}
    <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
</ul>

{{ end }}
