{{ define "content" }}
<div class="content">
  <div class="inner">
    <p class="intro">Hello, I'm <strong>Lars Graubner</strong>, a front-end developer who cares about performance and structured code. I love to check out new things and <a href="/blog/">share what I learned</a>.</p>

    <p>If you want to keep up with what I do you should follow me on <a href="https://twitter.com/larsgraubner" target="_blank" rel="nofollow noopener">Twitter</a> and <a href="https://github.com/lgraubner" target="_blank" rel="nofollow noopener">GitHub</a>.</p>

    <hr>

    <h3>Blog posts</h3>
    <div class="post-list-small">
      <ul>
        {{ range first 5 (where .Site.Pages "Type" "post") }}
          <li>
            <a href="{{ .RelPermalink }}">
              <span class="title">
                {{ .Title }}
              </span>
            </a>
          </li>
        {{ end }}
      </ul>
    </div>

    <a style="font-size:15px;" href="/blog/">More posts &raquo;</a>
  </div>
</div>
{{ end }}
