@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'prism-one-light.css';

@layer components {
    .container {
        width: 600px;

        @apply mx-auto px-4 max-w-full;
    }
}

.prose {
    @apply text-base;
}

.prose p {
    @apply mb-4 leading-relaxed;
}

.prose p code,
.prose li code {
    font-size: 85%;
    margin: 0;
    padding: 0.2em 0.4em;
    border-radius: 6px;
    background-color: rgba(175, 184, 193, 0.2);
}

.prose pre {
    font-size: 85%;
    border-radius: 6px;
    line-height: 1.45em;
    background-color: #f7f8fa !important;

    @apply p-4 my-6 overflow-auto;
}

.prose pre code {
    background: transparent !important;
}

.prose h2 {
    @apply font-semibold text-xl mt-10 mb-5;
}

.prose h3 {
    @apply font-semibold text-lg mt-8 mb-4;
}

.prose ul,
.prose ol {
    @apply space-y-1 mb-4 pl-6;
}

.prose ol {
    @apply list-decimal;
}

.prose li {
    @apply leading-relaxed;
}

.prose a {
    @apply underline underline-offset-2 decoration-dotted decoration-gray-500 transition duration-150 hover:text-white hover:bg-gray-900 hover:no-underline;
}

