@charset 'utf-8';

@import 'utils/variables';
@import 'utils/functions';
@import 'utils/mixins';
@import 'utils/helpers';

// import vendor styles
// @import '../vendor/file';
@import '../../node_modules/normalize.css/normalize';

@import 'base/reset';
@import 'base/print';

// import layouts, pages and components
// @import 'components/mycomponent';
