---
layout: layouts/base.njk
permalink: 404.html
title: Page not found – {{ metadata.author.name }}
eleventyExcludeFromCollections: true
---

<div class="flex w-screen h-screen items-center justify-center">
    <div class="container text-center">
        <h1 class="font-semibold text-2xl mb-4">Page not found</h1>
        <p class="text-md leading-relaxed">The page you're looking for could not be found. Back to the <a href="/" class="underline decoration-dotted decoration-gray-500">home page</a>.</p>
    </div>
</div>
