/**
 * Content specific styles
 */

.content {
  @include font-size(17px);
  margin-top: 30px;

  @include respond-to($bp-small) {
    margin-top: 50px;
  }

  p {
    margin: 1.5em 0 0;
    line-height: 1.75em;

    &:first-child {
      margin: 0;
    }

    a {
      font-weight: bold;
    }

    code {
      background: rgba(0, 0, 0, 0.05);
      font-size: 0.8em;
      font-family: $font-monospace;
      color: rgba(0, 0, 0, 0.8);
      border-radius: $border-radius;
      padding: 0.3em;
    }
  }

  h2,
  h3,
  h4 {
    & + p,
    & + figure + p {
      margin-top: 1em;
    }
  }

  body:not(.search):not(.legal-disclosure):not(.error404) & p:not(.nodrop):first-child:first-letter {
    float: left;
    padding: 3px 6px 0 0;
    @include font-size(55px);
    font-weight: bold;
    line-height: 1em;
  }

  .emoji {
     height: 1em;
     width: 1em;
     margin: 0 .05em 0 .1em;
     vertical-align: -0.1em;
  }

  ol,
  ul {
    margin: 1.5em 0;
    padding: 0 0 0 25px;
    line-height: 1.75em;
  }

  ul {
    list-style-type: square;
  }

  h2:not([class]),
  h3:not([class]),
  h4:not([class]),
  h5:not([class]) {
    margin: 1.5em 0 0;
    font-weight: 600;
    font-family: $font-secondary;
  }

  h2:not([class]) {
    @include font-size(28px);
  }

  h3:not([class]) {
    @include font-size(24px);
  }

  h4:not([class]) {
    @include font-size(20px);
  }

  pre {
    border-radius: $border-radius;
    @include font-size(15px);
    background: #f9f9f9;
    padding: 40px 0 15px;
    white-space: pre-wrap;
    font-family: $font-monospace;
    overflow: auto;
    color: rgba(0, 0, 0, 0.8);
    margin: 1.5em 0;
    position: relative;

    code {
      white-space: pre-wrap;
      text-shadow: none;
    }

    &:before {
      content: 'Code';
      position: absolute;
      top: 0;
      left: 0;
      padding: 3px 10px;
      width: 100%;
      background: rgba(0, 0, 0, 0.05);
      color: rgba(0, 0, 0, 0.3);
      @include font-size(13px);
      text-shadow: none;
      font-weight: bold;
    }

    .language-css .token.string,
    .style .token.string,
    .token.entity,
    .token.operator,
    .token.url {
      background: transparent;
    }

    @include respond-to($bp-small) {
      margin: 2.5em 0;
    }

    code .line {
      padding: 0 15px 0 10px;
      border-left: 5px solid transparent;

      &:empty:before {
        content: '\00a0'; /* keeps empty divs visible */
      }

      &--highlight {
        background: lighten($color-yellow, 45%);
        border-color: #f7ebc6;
      }
    }
  }

  a[href]:not([class]) {
    color: $color-black;
    border-bottom: 1px solid currentcolor;
    transition: color 100ms ease-in-out, border 100ms ease-in-out;

    &:hover {
      color: $color-primary;
      border-color: currentcolor;
    }
  }

  figure {
    max-width: 100%;
    margin-top: 2em;

    a {
      display: block;
      border: 0 !important;
    }
  }

  img:not(.emoji) {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
  }

  .wp-caption-text {
    color: rgba(0, 0, 0, 0.7);
    @include font-size(15px);
    font-style: italic;
    margin-top: 10px;
    font-family: $font-secondary;
  }
}
