/**
 * Footer
 */

.footer {
  padding: 30px 0;
  text-align: center;

  @include respond-to($bp-small) {
    padding: 100px 0;
  }

  .rss {
    font-family: $font-secondary;

    a {
      color: $color-black;
      line-height: 40px;
      padding-left: 30px;
      background: url('#{$image-path}/rss.svg') left center no-repeat;
      background-size: auto 100%;
      font-weight: 600;
    }
  }
}
