/**
 * Header
 */

.header {
  padding: 10px 0;
  line-height: 35px;

  @include min-width($bp-small) {
    padding: 15px 0;
    margin: 50px 0 80px;
    margin: 0;
  }

  .inner {
    @include min-width($bp-small) {
      width: 680px;
    }

    @include min-width($bp-large) {
      width: 960px;
    }
  }
}
