/**
 * Header
 */

.header {
  @extend %clearfix;
  padding: 10px 0;
  line-height: 35px;

  @include respond-to($bp-small) {
    padding: 15px 0;
    margin: 50px 0 80px;
    margin: 0;
  }

  .inner {
    @include respond-to($bp-small) {
      width: 680px;
    }

    @include respond-to($bp-large) {
      width: 960px;
    }
  }
}
