/**
 * Menu
 */

.menu-wrapper {
  position: relative;
}

.menu {
  list-style: none;
  margin: 0;
  font-family: $font-secondary;
  font-weight: 600;
  float: right;
  padding: 0;

  &--visible {
    display: block;
  }

  &__item {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .15em;
    float: left;
    margin-left: 1em;
    text-align: left;
    white-space: nowrap;

    @include min-width($bp-small) {
      margin-left: 2em;
    }
  }

  & > &__item:first-child {
    display: none;

    @include min-width($bp-small) {
      display: block;
    }
  }

  &__more {
    display: block;
    float: left;
    margin-left: 1em;

    button {
      padding: 0;
      background: none;
      border: 0;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: .15em;
      text-align: left;
      font-family: $font-secondary;
      font-weight: 600;
      color: $color-black;
    }

    ul {
      display: none;
      position: absolute;
      top: 45px;
      right: -10px;
      background: rgba(255, 255, 255, 0.97);
      padding: 0;

      @include min-width($bp-small) {
        top: 55px;
      }
    }

    .menu__item {
      float: none;
      margin-left: 0;
      text-align: right;
      font-size: 12px;
    }

    &--visible {
      ul {
        display: block !important;
      }
    }
  }

  a {
    color: $color-black;
    display: block;
    padding: 0 10px;
  }
}
