.post-list {
  @extend %clearfix;

  .post__thumb {
    margin-bottom: 30px;
  }

  .post__title {
    @include respond-to($bp-small) {
      @include font-size(40px);
    }
  }

  .post {
    margin-bottom: 60px;

    @include respond-to($bp-small) {
      margin-bottom: 80px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    p {
      text-align: justify;
    }
  }

  .button {
    margin: 2em 0 0;
  }
}
