.post {
  &__title {
    font-family: $font-secondary;
    font-weight: 600;
    @include font-size(30px);
    text-align: center;
    line-height: 1.15em;
    margin: 0 0 25px;

    @include respond-to($bp-small) {
      @include font-size(44px);
    }
  }

  &__link {
    color: $color-black;
    transition: color 150ms ease-in-out;

    &:hover {
      color: $color-black;
    }
  }

  &__thumb {
    margin-bottom: 30px;
    border-radius: $border-radius;
    overflow: hidden;

    @include respond-to($bp-small) {
      margin-bottom: 40px;
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }

  &__content {
    .button {
      margin: 0.5em 0 0;

      @include respond-to($bp-small) {
        margin: 0.5em 0 1em;
      }
    }

    &--excerpt {
      text-align: center;

      p {
        text-align: left;
      }
    }
  }

  &__footer {
    margin-top: 40px;

    @include respond-to($bp-small) {
      margin-top: 60px;
    }

    .tags {
      margin-bottom: 40px;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li {
        display: inline-block;
        margin-right: 8px;
        margin-bottom: 8px;
      }

      a {
        display: inline-block;
        color: rgba(0, 0, 0, 0.7) !important;
        background: rgba(0, 0, 0, 0.05);
        border: 0 !important;
        font-family: $font-secondary;
        @include font-size(13px);
        border-radius: $border-radius;
        padding: 5px 10px;
        line-height: 22px;
        transition: background 150ms ease-in-out !important;

        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }

  .date {
    text-align: center;
  }
}
