/**
 * Tile version of posts used in featured and related posts
 */

.post-tiles {
  font-family: $font-secondary;

  &__row {

    &:not(:first-child) {
      margin-top: 30px;
    }
  }

  .post {
    margin: 30px auto 0;
    width: 280px;
    max-width: 100%;
    position: relative;

    &:first-child {
      margin-top: 0;
    }

    @include min-width($bp-small) {
      margin-top: 0;
    }

    @include min-width($bp-small) {
      float: left;
    }

    &:last-child {
      @media screen and (max-width: $bp-small) {
        margin-bottom: 0;
      }
    }

    &:nth-child(even) {
      @include min-width($bp-small) {
        margin-left: 50px;
      }
    }

    .date {
      text-align: left;
      font-size: 15px;

      @include min-width($bp-small) {
        margin-bottom: 0.1em;
      }
    }

    &__title {
      font-size: 22px;
      margin-bottom: 0;
      text-align: left;

      @include min-width($bp-small) {
        font-size: 21px;
      }
    }

    &__thumb {
      margin-bottom: 0.5em;
      border-radius: $border-radius;
      overflow: hidden;

      &--fallback {
        background: url('#{$image-path}/fallback.jpg') center center no-repeat;
        background-size: cover;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-radius: $border-radius;
      }

      a {
        display: block;
        position: relative;

        &:focus {
          background: none;
        }

        &:before {
          content: '';
          padding-top: 56%;
          display: block;
          background: rgba(0, 0, 0, 0.05);
        }
      }

      @include min-width($bp-small) {
        margin-bottom: 1em;
      }
    }
  }
}
