/**
 * List of posts
 */

.post-list {

  .post {
    margin-bottom: 60px;

    @include min-width($bp-small) {
      margin-bottom: 100px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .button {
    margin: 2em 0 0;
  }
}
