.related-posts {
  margin-top: 40px;

  @include respond-to($bp-small) {
    margin-top: 60px;
  }

  &__title {
    margin: 0 0 1.5em;
    @include font-size(24px);
    font-weight: 600;
    font-family: $font-secondary;
  }
}
